body {
    background-color: #909CC2;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
}

#pre-game {
    border: none;
    text-align: center;
    padding: 100px 0;
<<<<<<< HEAD
    background-color: #084887;
    color: white;
=======
    /* outline: 7px solid #F0C14E; */
    border-radius: 25px;
}

h1 {
    font-size: 100px;
>>>>>>> 23150741d16e738f4d7b5a2abb1fdce9c6b8f5dd
}

#introduction {
    padding: 20px;
    text-align: center;
    background-color: #084887;
    color: white;
}

#pre-game > h1{
    font-size: 70px;
    font-family: 'Edu SA Beginner', sans-serif;
}

#how-to-play {
    padding: 20px;
    text-align: center;
    color: white;
}

.title {
    font-size: 40px;
    font-family: 'Quicksand';
}

.content {
    font-size: 20px;
    color: #000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

input {
    border: 3px solid #000;
    border-radius: 25px;
    padding: 16px 32px;
    margin: 4px 2px;
}

#start-btn {
    border: 3px solid #000;
    border-radius: 25px;
    color: #000;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}

#drawing-demo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-div{
    margin: 0 15px;
}

.video-div > video{
    outline: 4px solid #DCDCDC;
    outline-offset: -4px;
}

.demo-text{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
}

.nav-link, .dropdown-item{
    font-family: 'Lexend', sans-serif; 
}

@media screen and (max-width: 500px) {
    .container-fluid.main {
        max-width: 500px;
    }
    h1 {
        font-size: 58px;
    }
    #drawing-demo-div {
        display: flex;
        flex-direction: column;

    }
}