body {
    background-color: #DCDCDC;
}

#canvas-container {
    position: relative;
    z-index: -1;
}

.output-data {
    /* visibility: hidden; */
}

.drawing-utils {
    position: absolute;
}

#output_canvas, #webcam, #landmarks {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#p5-canvas-container{
    overflow: hidden;
    width: 800px;
    height: 600px;
    position: relative;
    z-index: -1;
}

.p5Canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

#challenge-photo {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    max-height: auto;
    opacity: 0.5;
}

#challenge-selector {
    background-color: #212529;
    color: white;
}

.container-fluid.game-canvas {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-fluid.game-details {
    max-width: 1280px;
}

.container-fluid.quiz-select {
    max-width: 1050px;
}

.controller-panel {
    display: flex;
}

.controller-panel>button {
    margin: 0 2px;
}

.form-select {
    width: auto;
}

#input-indictor {
    margin-top: 10px;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.demo-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#undo-sign {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.852);
}

.gesture-container {
    display: flex;
}

.gesture-btn-container>img {
    width: 200px;
    height: auto
}

.gesture-btn-container {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.gesture-btn {
    position: absolute;
}

.select-mode {
    display: flex;
    flex-direction: column;
}

.game-mode-btn {
    margin: 10px;
    padding: 10px;
}

.select-mode>button>a {
    text-decoration: none;
    color: white;
}

.hidden-btn {
    display: none;
}

#selector-div{
    display: flex;
}

@media screen and (max-width: 500px) {
    .container-fluid.game-details {
        max-width: 500px;
    }

    .container-fluid.game-canvas {
        max-width: 500px;
    }
    #p5-canvas-container{
        width: 400px;
        height: 500px;
    }

    #webcam{
        width: 400px;
        height: 500px;
    }
}